.shg-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 400px;
  table-layout: fixed;
}

.shg-tile {
  background: #fff;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #a5b1b7;
  border-right: 1px solid #a5b1b7;
  cursor: pointer;
  opacity: 1;
  position: relative;
  transition: background-color 0.3s linear, color 0.3s ease-out;
  will-change: background-color, color;
  vertical-align: middle;
  text-align: center;
  color: transparent;

  &:hover {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.45);
      z-index: 3;
    }
  }

  &:last-child {
    border-right: 0;
  }
}

.shg-table--color-gold .shg-tile{
  border-color: #c67700;
}

.shg-table--color-blue .shg-tile{
  border-color: #a5b1b7;
}

$colorList: #bce1ff #b1dcff #acd9ff #cfeaff #aad8ff #c4e5ff #c1e3ff #bde1ff #bbe0ff #b7deff;
@for $i from 1 through length($colorList) {
  .shg-table--color-blue .shg-tile--color#{$i - 1} {
    background: #{nth($colorList, $i)};
  }
}

$colorList: #ffeaa0 #ffeaa0 #ffe89a #ffe593 #ffe38c #ffe086 #ffdf83 #ffe086 #ffe086 #ffe086;
@for $i from 1 through length($colorList) {
  .shg-table--color-gold .shg-tile--color#{$i - 1} {
    background: #{nth($colorList, $i)};
  }
}

.shg-table .shg-tile--open {
  background-color: #fff;
  color: #222;
}

.shg-table .shg-tile--right-answer {
  background: #cef1a6;
}

.shg-row {
  &:last-child {
    .shg-tile {
      border-bottom: 0;

      &:last-child {
        border-radius: 0 0 5px 0;
      }

      &:first-child {
        border-radius: 0 0 0 5px;
      }
    }
  }

  &:first-child {
    .shg-tile {
      &:first-child {
        border-radius: 5px 0 0 0;
      }

      &:last-child {
        border-radius: 0 5px 0 0;
      }
    }
  }
}

.sgh-text {
  display: inline-block;
}

.shg-tile--wrong-answer {
  .sgh-text {
    animation: shg-text-shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

@keyframes shg-text-shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
