<!DOCTYPE html>
<head>
    <script src="/public/res/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/public/res/bower_components/underscore/underscore-min.js"></script>
    <script src="/public/res/bower_components/eventEmitter/EventEmitter.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui"/>

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>

    {#<script src="/public/res/library/GoogleClosureLibrary/closure/goog/base.js"></script>#}
    {#<script src="/public/res/library/CanvasEngine/public/js/min/CanvasEngine.js"></script>#}
    {#<script src="/public/res/library/FuncUtils/public/js/min/FuncUtils.js"></script>#}

    {#<script src="/public/res/library/FuncUtils/src/Array.js"></script>#}
    {#<script src="/public/res/library/FuncUtils/src/Utils.js"></script>#}
    {#<script src="/public/res/library/FuncUtils/src/EventDomDispatcher.js"></script>#}

    <script src="/public/res/library/CanvasEngine/src/CanvasEngine.js"></script>
    <script src="/public/res/library/CanvasEngine/src/GameCanvas.js"></script>
    <script src="/public/res/library/CanvasEngine/src/AnimationValue.js"></script>
    <script src="/public/res/library/CanvasEngine/src/ClickEventBridge.js"></script>
    <script src="/public/res/library/CanvasEngine/src/Loader.js"></script>
    <script src="/public/res/library/CanvasEngine/src/Utils.js"></script>
    <script src="/public/res/library/CanvasEngine/src/SpeedCoordination.js"></script>
    <script src="/public/res/library/CanvasEngine/src/MapInterface.js"></script>
    <script src="/public/res/library/CanvasEngine/src/Sprite.js"></script>
    <script src="/public/res/library/CanvasEngine/src/CellPoint.js"></script>
    <script src="/public/res/library/CanvasEngine/src/ResLoadType.js"></script>
    <script src="/public/res/library/CanvasEngine/src/ResLoadTypeJson.js"></script>
    <script src="/public/res/library/CanvasEngine/src/Coordinates.js"></script>
    <script src="/public/res/library/CanvasEngine/src/ResLoadEvent.js"></script>

    {#<script src="/public/res/js/min/ShowHide.js"></script>#}

    <script src="/static/js/ShowHide/ShowHide.js"></script>
    <script src="/static/js/ShowHide/MapBase.js"></script>
    <script src="/static/js/ShowHide/Demon/Ouroboros.js"></script>
    <script src="/static/js/ShowHide/Demon/Lock.js"></script>
    <script src="/static/js/ShowHide/GameController.js"></script>

    <script src="/static/js/ShowHide/Draw/Ouroboros.js"></script>
    <script src="/static/js/ShowHide/Tile.js"></script>

    <script src="/static/js/ShowHide/Model/WordModel.js"></script>
    <script src="/static/js/ShowHide/SizeInfo.js"></script>
    <script src="/static/js/ShowHide/Event/DemonEvent.js"></script>
    <script src="/static/js/ShowHide/Event/OpenPairEvent.js"></script>
    <script src="/static/js/ShowHide/Event/TileClickEvent.js"></script>
    <script src="/static/js/ShowHide/MapManager.js"></script>


    <script src="/static/js/Map/Map2.js"></script>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link href='/public/res/css/prod/showhide/main.css' rel='stylesheet' type='text/css'/>

</head>
<body>

<style>
    td, tr, table {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    body {
        font-family: 'Open Sans', sans-serif;
    }
</style>

<style>
    body {
        width: 100%;
        margin: 100px 0;
        background: #f2f2f2;
    }

    #test .showhide-table {
        border-radius: 10px;
        overflow: hidden;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        margin: 0 auto;
        display: block;

        border-top: 2px solid #e7f4ff;
        border-bottom: 2px solid gray;

        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    }
</style>


<table id="canv1" class="shg-table shg-table--color-gold"></table>


{#<div style="text-align: center">#}
{#<a href="#" id="demon-close">demon close</a>#}
{#<a href="#" id="parasite-title">parasite title</a>#}
{#</div>#}

<script>
    let eventManager = ShowHideGameController.getEventManager();

    let map = ShowHideMapManager.getMe().getMap('map1');
    let table = /** @type {HTMLTableElement} */ (document.getElementById('canv1'));
    let gameControl = new ShowHideGameController(map, table, eventManager, 'prf1');

    eventManager.addListener(EVENT_SHOWHIDE_TILE_OPEN_PAIR + 'prf1', function(event) {
        console.log(event.getCount());
    });

    eventManager.addListener(EVENT_SHOWHIDE_END_GAME + 'prf1', function() {
        console.log('end game');
    });



    //    let map2 = new ShowHideMap1();
    //    let canvas2 = document.getElementById('canv2');
    //    let gameControl2 = new ShowHideGameController(map2, sizeInfo, 'map2', canvas2, 'http://127.0.0.1:8080/public/');
    //    let width2 = gameControl2.getWidth() / sizeInfo.getPixelRatio();
    //    jQuery(canvas2).css({'width': width2});
    //    gameControl2.pauseGame();


    //    let eventDomDispatcher = new EventDomDispatcher(ShowHide.EVENT_NAME);
    //    eventDomDispatcher.addListener(ShowHide.EVENT_DEMON_SHOW, 'map1', function(event, data) {
    //        let eventData = /** @type {ShowHideDemonEvent} */ (data);
    //
    //        // gameControl.parasiteTile();
    //        gameControl.showTip();
    //
    //        console.log('eventData', eventData);
    //    });
    //
    //    eventDomDispatcher.addListener(ShowHide.EVENT_END_GAME, 'map1', function(event, data) {
    //        console.log('Eng game');
    //    });
    //
    //    eventDomDispatcher.addListener(ShowHide.EVENT_TILE_CLICK, 'map1', function(event, data) {
    //        console.log('ShowHide.ShowHide.EVENT_TILE_CLICK');
    //    });

</script>

</body>
</html>